/**
 * Dark scrollbar overrides.
 */

.rp-dark ::-webkit-scrollbar,
html[data-dark='true'] ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.rp-dark ::-webkit-scrollbar-track,
html[data-dark='true'] ::-webkit-scrollbar-track {
  background: transparent;
}

.rp-dark ::-webkit-scrollbar-thumb,
html[data-dark='true'] ::-webkit-scrollbar-thumb {
  background: var(--zp-c-scrollbar-thumb);
  border-radius: 3px;
}

.rp-dark ::-webkit-scrollbar-thumb:hover,
html[data-dark='true'] ::-webkit-scrollbar-thumb:hover {
  background: var(--zp-c-scrollbar-thumb-hover);
}
