.zp-page-rail {
  max-width: var(--zp-landing-max-width);
  margin: 0 var(--zp-frame-gutter);
  background: var(--zp-c-bg-elv);
  border-left: 1px solid var(--zp-c-border);
  border-right: 1px solid var(--zp-c-border);
}

.zp-page-rail > * {
  border-bottom: 1px solid var(--zp-c-border);
}

.zp-page-rail > *:last-child {
  border-bottom: 0;
}

@media (min-width: 1248px) {
  .zp-page-rail {
    margin: 0 auto;
  }
}
